.button {
  margin: 10px 0;
}
.name {
  padding-bottom: 20px;
}
.input {
  padding-right: 10px;
}
.selectWrapper {
  width: auto;
  margin-right: 10px;
}
.select {
  width: 100%;
}
.competencies {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.addCompetence_wrapper {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .competencies {
    flex-direction: column;
    border: 0.5px solid rgb(217, 217, 217);
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px 10px;
  }
  .input {
    margin-bottom: 10px;
    padding-right: 0;
    width: 100%;
  }
  .selectWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}
.work__experience {
  width: 180px;
}
