.form {
  width: 100%;
  margin-top: 10px;
}
.input {
  padding-right: 10px;
}
.openForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title {
  padding-top: 40px;
}
.selectWrapper {
  width: auto;
  margin-right: 10px;
}
.select {
  width: 100%;
}
.competencies {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.userinfo_input {
  margin: 10px 0;
}

.userinfo_wrapper {
  padding-top: 20px;
}

@media (max-width: 600px) {
  .competencies {
    flex-direction: column;
    border: 0.5px solid rgb(217, 217, 217);
    border-radius: 10px;
    margin: 15px 0;
  }
  .input {
    margin-bottom: 10px;
    padding-right: 0;
    width: 100%;
  }
  .selectWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}
