.root {
  flex-grow: 1;
}
.sidebar {
  width: 240px;
  flex-shrink: 0;
}
.menuButton {
  margin-right: 10px;
}
.title {
  flex-grow: 1;
}
.drawerPaper {
  width: 240px;
}
.drawerHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
}
