.form {
  width: 100%;
  margin-top: 10px;
}
.submit {
  margin: 10px;
}
.input {
  margin: 10px;
}
.loginBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
div[class*='MuiTabs-flexContainer'] {
  justify-content: center;
}
