.button {
  margin: 10px 0;
}
.name {
}
.input {
  padding-right: 10px;
}
.selectWrapper {
  width: auto;
  margin-right: 10px;
}
.select {
  width: 100%;
}
.competences {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.addCompetence_wrapper {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .competences {
    flex-direction: column;
    border: 0.5px solid rgb(217, 217, 217);
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px 10px;
    
  }
  .input {
    margin-bottom: 10px;
    padding-right: 0;
    width: 100%;
  }
  .selectWrapper {
    margin-bottom: 10px;
    width: 100%;
  }
  .work__experience {
    margin-top: 10px;
    margin-left: 0 !important;
    width: 100% !important;
    }
}
.work__experience {
  width: 170px;
  margin-left: 10px;
  padding-top: ;
}